.container {
  background: url("https://images.pexels.com/photos/16053726/pexels-photo-16053726/free-photo-of-ville-soleil-couchant-batiments-new-york.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.container::before {
  background-color: rgba(0, 0, 0, 0.15);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.title {
  margin: 0;
  padding-top: 5rem;
  z-index: 2;
  font-size: 54px;
  color: white;
  letter-spacing: 2px;
}
.button {
  z-index: 2;
  display: block;
  border: none;
  background-color: #9b9a9a;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font: inherit;
  font-weight: bolder;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: #2a2b2a;
}

@media screen and (max-width: 640px) {
  .container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .title {
    font-size: 32px;
  }
  .button {
    margin-top: 2rem;
  }
}
