.container{
    background: url('/img/modern-house.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.container::before{
  background-color: rgba(0, 0, 0, 0.45);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.formContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  border-radius: 5px;
  margin: 2rem;
}
.title{
  font-size: 46px;
}
.input{
  width: 60%;
  padding: 14px 50px;
  background-color: #eff8f2;
  border-radius: 5px;
  border: none;
}
.submitButton{
  margin-top: 2rem;
    border: none;
    background-color: #61e786;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    font: inherit;
    font-weight: bolder;
    cursor: pointer;
}
