.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 3rem 5rem;
    position: relative;
    z-index: 0;
    gap: 5rem;
    
}
.imgContainer{  
  position: relative;
}
.price{
    position: absolute;
    top: -20px;
    right: 0;
    background-color: #32322a;
    padding: 15px;
    color: #61e786;
}
.type{
  position: absolute;
  margin: 0;
  top: 20px;
  left: 4px;
  transform: rotate(-30deg);
  padding: 20px; 
}
.infoContainer{
  width: 500px;
  display: flex;
  gap: 2rem;
}
.tourButton{
    margin-top: 3rem;
    border: none;
    background-color: #61e786;
    padding: 15px;
    color: white;
    border-radius: 5px;
    font: inherit;
    font-weight: bolder;
    cursor: pointer;
}
.details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.icons{
    color: #61e786;
}
.modal{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formBlock{
  background-color: white;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5%;
  padding-top: 2rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input{
  width: 100%;
  padding: 14px 50px;
  background-color: #ebf9ef;
  border-radius: 5px;
  border: none;
}
.closeButton{
  align-self: flex-end;
  border: none;
  background-color: white;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 18px;
}
.submitButton{
  margin-top: 2rem;
    border: none;
    background-color: #61e786;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    font: inherit;
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 640px) {
  /* Adjust container padding and flex direction for smaller screens */
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 12rem 0;
      border: none;
  }

  /* Adjust width of .infoContainer for smaller screens */
  .infoContainer {
      width: 100%; /* Full width for smaller screens */
  }

  /* Example: Hide absolute positioned elements on smaller screens */
  .price,
  .type {
      display: none;
  }

  /* Example: Center align the tour button on smaller screens */
  .tourButton {
      margin-top: 1rem;
      text-align: center;
  }

  /* Example: Reduce font size of .icons for smaller screens */
  .icons {
      font-size: 1.5rem; /* Adjust font size as needed */
  }
}





